<nb-card *ngIf="users$ | async as users">
  <div #chatWrapper cdkDrag>
    <ngx-chat [reverseHeader]="reverseChatHeader"
              *ngIf="isChatOpen"
              [style.top]="chatOffset"
              [user]="currentChatUser"
              (onCloseChat)="isChatOpen = false"></ngx-chat>
  </div>
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Contacts" class="overflow-visible">
      <nb-list>
        <nb-list-item class="d-flex justify-content-between" *ngFor="let user of users$ | async let idx = index"
                      [class.selected]="user?._id === currentChatUser?._id && isChatOpen">
          <div class="user-container" #userContainer>
            <nb-user
              [name]="user.name"
              [title]="user.role"
              [picture]="user.photoUrl"
              badgeText="0"
              badgeStatus="success"
              badgePosition="bottom right"
              size="medium">
            </nb-user>
            <div *ngIf="user.isOnline" class="online-status"></div>
          </div>
          <nb-icon icon="message-circle-outline" class="cursor-pointer"
                   (click)="setCurrentChatUser(userContainer, user)"
                   pack="eva"></nb-icon>
        </nb-list-item>
      </nb-list>
    </nb-tab>

    <nb-tab tabTitle="Recent">
      <nb-list>
        <!--        <nb-list-item class="contact" *ngFor="let user of users">-->
        <!--          <nb-user [name]="user.name" [title]="user.role" size="large"></nb-user>-->
        <!--          <span class="caption">{{ user.dateAddToClub | date: 'shortTime' }}</span>-->
        <!--        </nb-list-item>-->
      </nb-list>
    </nb-tab>

  </nb-tabset>
</nb-card>
