<nb-card *ngIf="users$ | async as users">
  <div #chatWrapper cdkDrag>
    <ngx-chat [reverseHeader]="reverseChatHeader"
              *ngIf="isChatOpen"
              [style.top]="chatOffset"
              [user]="currentChatUser"
              (onCloseChat)="isChatOpen = false"></ngx-chat>
  </div>
  <nb-tabset fullWidth>
    <nb-tab
      [active]="!nameOfFeatureList"
      tabTitle="Friends" class="overflow-visible" >
      <nb-list>
        <nb-list-item class="d-flex justify-content-between"
                      *ngFor="let user of usersWithCountMessages$ | async let idx = index"
                      [class.selected]="user?._id === currentChatUser?._id && isChatOpen">
          <div class="user-container" #userContainer>
            <nb-user
              [name]="user.name"
              [title]="user.role"
              [picture]="user.photoUrl"
              [badgeText]="user.noReadMessagesCount || null"
              badgeStatus="success"
              badgePosition="bottom right"
              size="medium">
            </nb-user>
            <div *ngIf="user.isOnline" class="online-status"></div>
          </div>
          <nb-icon icon="message-circle-outline" class="cursor-pointer"
                   (click)="setCurrentUser( user._id)"
                   pack="eva"></nb-icon>
        </nb-list-item>
      </nb-list>
    </nb-tab >
    <nb-tab
      [active]="!!nameOfFeatureList"
      *ngIf="nameOfFeatureList"
            [tabTitle]="nameOfFeatureList">
      <ng-content></ng-content>
    </nb-tab>
  </nb-tabset>

</nb-card>
