@import '../../@theme/styles/themes';
.online-status {
  width: 20px;
  height: 20px;
  top: 0;
  left: 32px;
  position: absolute;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0,117,14,1);
}

.position-absolute{
  z-index: 40;
  bottom: 50px;
  right: 50px;
}
nb-list {
  overflow: visible;
  nb-list-item {
    height: 57px;
    box-sizing: border-box;
  }
}
.overflow-visible {
  overflow: visible;
}
nb-tab {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
ngx-chat {
  position: absolute;
  top: 0;
  width: 350px;
  transform: translateX(-109%);
}
.user-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  height: 57px;
}
.cursor-pointer {
  cursor: pointer;
}

:host {
  nb-list-item.selected {
    background: nb-theme(color-warning-500) !important;
  }

}
