<nb-accordion>
  <nb-accordion-item *ngFor="let activity of (mainUserStat | async).userActivities">
    <nb-accordion-item-header>{{activity.type}}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <ngx-detailed-sport-type-statistic
        [dateConfig]="dateFilterState$ | async"
        [sportType]="activity.type"
        [trainingValueBySportType]="activitiesBySportTypesDaysRange$ | async"
      ></ngx-detailed-sport-type-statistic>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
