    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list
        nbInfiniteList
        [threshold]="500"
        (bottomThreshold)="onDown($event)">
        <nb-list-item class="overflow-hidden align-items-lg-start"
                      *ngFor="let post of posts$ | async">
          <ngx-single-post [post]="post"></ngx-single-post>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of placeholders">
          <ngx-news-post-placeholder></ngx-news-post-placeholder>
        </nb-list-item>
        </nb-list>
    </nb-card>


<!--&lt;!&ndash;<nb-card class="own-scroll">&ndash;&gt;-->
<!--&lt;!&ndash;  <nb-card-header>Own Scroll</nb-card-header>&ndash;&gt;-->
<!--  <cdk-virtual-scroll-viewport itemSize="200">-->
<!--    <li class="animate__animated animate__backInRight"-->
<!--        *cdkVirtualFor="let post of posts$ | async">-->
<!--      <h2>{{ post.author }}. {{ post.likes }} {{ post._id }}</h2>-->
<!--      <p> {{ post.publicationDate}} </p>-->
<!--    </li>-->
<!--  </cdk-virtual-scroll-viewport>-->
<!--&lt;!&ndash;  <nb-list-item *ngFor="let _ of firstCard.placeholders">&ndash;&gt;-->
<!--&lt;!&ndash;    <ngx-news-post-placeholder></ngx-news-post-placeholder>&ndash;&gt;-->
<!--&lt;!&ndash;  </nb-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;</nb-card>&ndash;&gt;-->

<!--    <infinitelist-->
<!--      [height]='"100%"'-->
<!--      [width]='"100%"'-->
<!--      [data]='posts$ | async'-->
<!--      [itemSize]='115'-->
<!--      [scrollDirection]='"vertical"'-->
<!--      [useob]='true'-->
<!--      (update)='onDown($event)'>-->
<!--      <nb-list-item class="overflow-hidden align-items-lg-start"-->
<!--                    *ngFor="let post of posts$ | async">-->
<!--        <ngx-single-post [post]="post"></ngx-single-post>-->
<!--      </nb-list-item>-->
<!--    </infinitelist>-->

<!--<nb-card class="own-scroll">-->
<!--  <nb-card-header>-->
<!--    Own scroll-->
<!--  </nb-card-header>-->
<!--  <nb-list-->
<!--    nbInfiniteList-->
<!--    [threshold]="500"-->
<!--    (bottomThreshold)="onDown($event)">-->
<!--    <nb-list-item *ngFor="let post of posts$ | async">-->
<!--      <ngx-single-post [post]="post"></ngx-single-post>-->
<!--    </nb-list-item>-->
<!--  </nb-list>-->
<!--</nb-card>-->

