

    <nb-card>
      <nb-card-header>Window Scroll</nb-card-header>
      <nb-list
        nbInfiniteList
        listenWindowScroll
        [threshold]="500"
        (bottomThreshold)="loadNext('')">
        <nb-list-item *ngFor="let post of posts$ | async">
          <ngx-news-post [post]="post"></ngx-news-post>
        </nb-list-item>
<!--        <nb-list-item *ngFor="let _ of secondCard.placeholders">-->
<!--          <ngx-news-post-placeholder></ngx-news-post-placeholder>-->
<!--        </nb-list-item>-->
      </nb-list>
    </nb-card>

