<div class="d-flex justify-content-between mr-1 mt-1">
  <div class="author">
    <div class="author_avatar">{{post.author.name | slice: 0:1}}</div>
    <div class="d-flex flex-column ml-2">
      <p class="mb-0"> Author: {{post.author.name}}</p>
      <p class="mb-0"> Public date: {{post.publicationDate | date: 'medium'}}</p>
      <p class="mb-0" *ngIf="post.updateDate"> Update date: {{post.updateDate | date: 'medium'}}</p>
    </div>
  </div>
  <div class="d-flex flex-column">
    <button nbButton ghost status="danger" *ngIf="currentUser?._id === post.author._id" (click)="onDeletePost()">
      <nb-icon icon="{{'trash-2-outline'}}"></nb-icon>
      Delete Post
    </button>
    <button nbButton ghost status="warning" *ngIf="currentUser?._id === post.author._id" (click)="onEdit()">
      <nb-icon icon="{{'edit-2-outline'}}"></nb-icon>
      Edit Post
    </button>
  </div>
</div>
<ng-container *ngIf="!isEditMode; else editor">
  <article class="ql-editor" #articlePost [ngClass]="!showMore? 'single-post__overflow-hidden': 'single-post' ">
    <p #paragraphElement [innerHTML]="post.content"></p>
  </article>
  <div class="d-flex justify-content-between">
    <button nbButton ghost status="primary" (click)="onShowMore()">
      <nb-icon icon="{{!showMore? 'arrow-down-outline':'arrow-up-outline' }}"></nb-icon>
      Show More
    </button>
    <button nbButton ghost status="danger" (click)="onLike()">
      <nb-icon icon="{{'heart-outline'}}"></nb-icon>
      {{post.likes}}
    </button>
  </div>
</ng-container>
<ng-template #editor>
  <ngx-editor [initialValue]="post" (submitForm)="onEditPost($event)"></ngx-editor>
</ng-template>

