<nb-card>
  <nb-card-header>Events</nb-card-header>
  <nb-card-body class="items-rows">
    <div class="btn-with-arrow" *ngFor="let i of [1,2,3]">

      <div class="animate-circle" [ngClass]="i !== 3 ? 'not-active': ''">
        <div class="shadow-icon">
          <nb-icon nbTooltip="This is a tooltip" nbTooltipStatus="primary" class="event-icon" icon="gym"
                   pack="mySportIcons"></nb-icon>
        </div>
        <div class="circle" style="animation-delay: 0s"></div>
        <div class="circle" style="animation-delay: 1s"></div>
        <div class="circle" style="animation-delay: 2s"></div>
        <div class="circle" style="animation-delay: 3s"></div>
      </div>
      <nb-icon icon="chevron-right" pack="font-awesome"></nb-icon>
    </div>

  </nb-card-body>
</nb-card>
